
<div class="user_info">
  <strong>email:</strong>
  <%= @user.email %>
  |
  <strong><%= t'fullname' %>:</strong>
  <%= @user.fullname || t('nofullname') %>
</div>

<div class="events_list">

</div>

<%= link_to t('Edit'), edit_user_path(@user.id) %>