<h1><%= t'.edit_event_message' %></h1>

<%= render 'form', event: @event %>
<%= link_to t('.delete_button'), @event, method: :delete, data: { confirm: t('confirm') } %>
|
<%= link_to t('Back'), events_path %>
