.card
  div clas="card-section" 
    p
      strong
        = t'Title'
        | :
      = event.title
    p
      strong
        = t'Event date'
        | :
      = event.event_date
    p
      strong
        = t'Repeat'
        | :
      = event.repeat
    p
      strong
        = t'Author'
        | :
      = event.user.email
= link_to t('Back'), events_path, class: "expanded hollow button"
