/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's 
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation


 */
body {
	background-image: url(https://oblast45.ru/uploads/publications/7277/2f984c1e7d4fbae693b5109e85ef8bbdb4364afc.jpg);
}

table {
	color: black;
}


.block {
  max-width: 500px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
  margin: auto;

}

.form_block label {
	color: #A9A9A9;
}

.link {
	color: #fefefe;
}

.lang_buttons {

  background-color: #ffffff;
  text-align: center;
  color: #A9A9A9;
  
}

.expanded.button {
  color: white;
}



